* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e4e4e1;
  background-image: linear-gradient(
    126.3deg,
    rgba(30, 2, 83, 1) 32.2%,
    rgba(198, 55, 160, 0.46) 109.2%
  );
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #fff;
  font-weight: bold;
  margin: 20px 0;
}

.busca {
  display: flex;
  width: 300px;
}
.busca #searchInput {
  flex: 1;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
}
.busca button {
  background-image: linear-gradient(
    to right,
    #4b79a1 0%,
    #283e51 51%,
    #4b79a1 100%
  );
}
.busca button {
  margin-left: 10px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgba(238, 238, 238, 0.192);
  border-radius: 5px;
  display: block;
  border: none !important;
}
.busca button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.resultado {
  width: 300px;
  height: 250px;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.24);
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
}
.resultado:hover {
  transition: 4s;
  box-shadow: 0 0 20px rgba(238, 238, 238, 0.192);
  background-color: rgba(163, 163, 163, 0.103);
}

.titulo {
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.info {
  display: flex;
  width: 100%;
}
.info .temp {
  flex: 1;
  text-align: center;
}
.info .vento {
  flex: 1;
  text-align: center;
}
.tempTitulo,
.ventoTitulo {
  color: rgb(143, 143, 143);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.tempInfo sup {
  font-size: 15px;
  font-weight: normal;
}
.ventoInfo span {
  font-size: 15px;
  font-weight: normal;
}
.ventoArea {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  padding-left: 25px;
  padding-top: 25px;
}
.ventoPonto {
  width: 15px;
  height: 1px;
  background-color: #fff;
  transform-origin: left;
}

.aviso {
  color: #fff;
  padding-top: 20px;
}

footer {
  margin-top: 20px;
  color: #fff;
  font-size: 13px;
}
